#about {
    background: $COLOR_SECONDARY;
    line-height: 1.5;
    padding: $SECTION_PADDING;

    & > * {
        margin: 0 auto;
        max-width: $MAX-WIDTH;
    }

    h2 {
        color: white;
    }
}