#about {
    background: $COLOR_SECONDARY;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    line-height: 1.5;
    padding: $SECTION_SPACING;

    & > * {
        width: 100%;
        max-width: $MAX-WIDTH;
    }

    h2 {
        color: white;
    }
}