#footer {
    background: $COLOR_BLACK;
    color: $COLOR_OFF_WHITE;
    display: flex;
    justify-content: center;
    padding: $SECTION_SPACING;
}

#footer > * {
    width: 100%;
    max-width: $MAX-WIDTH;
}