#footer {
    background: $COLOR_BLACK;
    color: $COLOR_OFF_WHITE;
    padding: $SECTION_SPACING;
}

#footer > * {
    margin: 0 auto;
    max-width: $MAX-WIDTH;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $SECTION_SPACING_LG 0;

    svg {
        width: 4em;
        transition: all 200ms ease-out;
        cursor: pointer;
    }
    svg:not(.stroke-svg) {
        fill: $COLOR_OFF_WHITE;

        &:hover {
            fill: $COLOR_TERTIARY;
        }
    }
    svg.stroke-svg {
        stroke: $COLOR_OFF_WHITE;

        &:hover {
            stroke: $COLOR_TERTIARY;
        }
    }
}

#copyright {
    background: $COLOR_OFFER_BLACK;
    color: $COLOR_OFF_WHITE;
    padding: 1em;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
}