#projects {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: $SECTION_SPACING;
    margin-bottom: $SECTION_SPACING;

    & > * {
        width: 100%;
        max-width: $MAX-WIDTH;
    }
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1em;
}

.project-card {
    border: 1px solid yellow;

    & img {
        width: 100%;
    }
}
