// reset
*, 
*::before, 
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// font stuff
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: $FONT_SIZE_DEFAULT;
    font-family: 'Open Sans', sans-serif;
    color: $COLOR_BLACK;
    overflow-x: hidden;
}

// layout
#angus-app {
    position: relative;
}

// main sections padding
header,
main section:not(#hero),
footer {
    padding: 3rem;
}

// center all content using top
// level children
header > *,
main section > *:not(#canvas-hero),
footer > * {
    margin: 0 auto;
    max-width: $MAX_WIDTH;
}

// basic color styles
h2 {
    color: $COLOR_PRIMARY;
}

::selection {
    background-color: $COLOR_PRIMARY;
    color: $COLOR_OFF_WHITE;
  }