// reset
*, 
*::before, 
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// font stuff
html {
    font-size: 62.5%;
}

body {
    font-size: $FONT_SIZE_DEFAULT;
    font-family: 'Open Sans', sans-serif;
    color: $COLOR_BLACK
}

// layout
#angus-app {
    position: relative;
}

header,
main section,
footer {
    padding: 3rem;
}

// center all content
header > *,
main section > *,
footer > * {
    margin: 0 auto;
    max-width: $MAX_WIDTH;
}

// basic styles
h2 {
    color: $COLOR_PRIMARY;
}

::selection {
    background-color: $COLOR_PRIMARY;
    color: $COLOR_OFF_WHITE;
  }