*, 
*::before, 
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $FONT_SIZE_DEFAULT;
    font-family: 'Open Sans', sans-serif;
}

#angus-app {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

main section {
    width: 100%;
}

header > *,
main section > * {
    max-width: $MAX_WIDTH;
}