// colors
$COLOR_PRIMARY: #850D4A;
$COLOR_ACCENT_PRIMARY: #D11576;
$COLOR_SECONDARY: #007C89;
$COLOR_ACCENT_SECONDARY: #74B5AB;
$COLOR_TERTIARY: #DEC049;
$COLOR_ACCENT_TERTIARY: #EBCB4D;
// shades
$COLOR_BLACK: #121212;
$COLOR_OFF_BLACK: #1A1A1A;
$COLOR_OFFER_BLACK: #212121;
$COLOR_DARK_GRAY: #363636;
$COLOR_GRAY: #4F4F4F;
$COLOR_LIGHT_GRAY: #696969;
$COLOR_OFF_WHITE: #F9F1F1;

// font size
$FONT_SIZE_DEFAULT: 3rem;

// content width
$MAX_WIDTH: 120rem;

// section padding
$SECTION_SPACING: 2rem;